<h1>Add a new project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_name">Project name</label>
    <input id="n" name="project_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add project</button>
</form>
